<!--# layout("/common/layout.html",{"jsBase":"/js/ypdj/sampleinfo/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">样品ID</label>
				<div class="layui-input-inline" style="background-color: #B2B2B2">
					<input type="text" name="sampleid" id="sampleid" class="layui-input" readonly>
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">送样时间</label>
				<div class="layui-input-inline">
					<input type="text" name="sysj" id="sysj" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">扫描时间</label>
				<div class="layui-input-inline">
					<input type="text" name="smsj" id="smsj" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">样品编号</label>
				<div class="layui-input-inline">
					<input type="text" name="ypbh" id="ypbh" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">样品属性</label>
				<div class="layui-input-inline">
					<input type="text" name="ypsx" id="ypsx" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">样品尺寸</label>
				<div class="layui-input-inline">
					<input type="text" name="ypcc" id="ypcc" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">样品分辨率</label>
				<div class="layui-input-inline">
					<input type="text" name="ypfbl" id="ypfbl" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">送样人</label>
				<div class="layui-input-inline">
					<input type="text" name="syr" id="syr" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">导师</label>
				<div class="layui-input-inline">
					<input type="text" name="ds" id="ds" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">学校/单位</label>
				<div class="layui-input-inline">
					<input type="text" name="xxdw" id="xxdw" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">专业</label>
				<div class="layui-input-inline">
					<input type="text" name="zy" id="zy" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">取样时间</label>
				<div class="layui-input-inline">
					<input type="text" name="qysj" id="qysj" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">取样人</label>
				<div class="layui-input-inline">
					<input type="text" name="qyr" id="qyr" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">取样方式</label>
				<div class="layui-input-inline">
					<input type="text" name="qyfs" id="qyfs" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">定位</label>
				<div class="layui-input-inline">
					<input type="text" name="dw" id="dw" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">拼接</label>
				<div class="layui-input-inline">
					<input type="text" name="pj" id="pj" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">样品</label>
				<div class="layui-input-inline">
					<input type="text" name="yp" id="yp" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">二次放大</label>
				<div class="layui-input-inline">
					<input type="text" name="ecfd" id="ecfd" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">样品类型</label>
				<div class="layui-input-inline">
					<input type="text" name="yplx" id="yplx" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">缩略图位置</label>
				<div class="layui-input-inline">
					<input type="text" name="sltwz" id="sltwz" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">CT图位置</label>
				<div class="layui-input-inline">
					<input type="text" name="ctwz" id="ctwz" class="layui-input" >
				</div>
            </div>
            <!--<div class="layui-inline">
                <button id="id">选择缩略图文件</button>
                <input id="yourinputname" type="file" name="yourinputname" style="display: none;" />
            </div>-->
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>

<blockquote>
    备注：</br>
    （1）样品ID系统自动生成，不可更改；</br>
    （2）取样方式即数据结果；</br>
    （3) 时间相关信息利用时间组件填写； </br>
    （4）CT存储位置填写绝对路径；</br>
    （5）缩略图位置固定，所以只填写文件名。
</blockquote>

<!--#} -->
<script>
layui.use(['add'], function(){
    var sampleinfoAdd = layui.add
    sampleinfoAdd.init();
    var laydate = layui.laydate;

    // 送样时间
    laydate.render({
        elem: '#sysj'
        ,type: 'date'
    });
    // 扫描时间
    laydate.render({
        elem: '#smsj'
        ,type: 'date'
    });
    // 取样时间
    laydate.render({
        elem: '#qysj'
        ,type: 'date'
    });
});
//选择文件路径
$('#id').on('click', function() {
    $('#yourinputname').trigger('click');
});

/*var wjwz = $('#yourinputname').value;
$('sltwz').val(wjwz);*/

var sampleID = createRandomId();
$("#sampleid").val(sampleID)
//自动生成id
function createRandomId() {
    return (new Date()).getTime()+'-'+(Math.random()*10000000).toString(16).substr(0,5);
}
</script>
